/* ==========================================================
   CHART LAYOUT
========================================================== */

.charts-grid{

    display:grid;

    grid-template-columns:
        2fr
        1fr;

    gap:24px;

    align-items:stretch;
}

/* ---------------------------------------------------------- */

.chart-card{

    display:flex;

    flex-direction:column;

    min-height:355px;

    border-radius:22px;

    height:100%;
}

/* ---------------------------------------------------------- */

.chart-title{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;
}

/* ---------------------------------------------------------- */

.chart-height,
.donut-wrapper{

    flex:1;

    min-height:280px;
}

/* ---------------------------------------------------------- */

.goal-grid{

    display:grid;

    grid-template-columns:
        repeat(3,minmax(0,1fr));

    gap:24px;
}

/* ---------------------------------------------------------- */

@media(max-width:1180px){

.charts-grid{

grid-template-columns:1fr;

}

.goal-grid{

grid-template-columns:1fr;

}

}
